# Optional: CARTO API Key if you want to use CARTO Dark Matter basemap instead of the default ESRI Dark Canvas
# Get a free key at https://carto.com/basemaps/
# VITE_CARTO_API_KEY=your_carto_api_key_here
